@mixin violet {
    background-color: $violet;
    color: #fff;
    border-color: $violet;

    &:hover, &:focus {
        background: transparent;
        color: $violet;
    }
}

@mixin vert {
    background: $vert;
    color: #fff;
    border-color: $vert;

    &:hover, &:focus {
        background: transparent;
        color: $vert;
    }
}

@mixin bleu {
    background: $bleu;
    color: #fff;
    border-color: $bleu;

    &:hover, &:focus {
        background: transparent;
        color: $bleu;
    }
}

@mixin rouge {
    background: $rouge;
    color: #fff;
    border-color: $rouge;

    &:hover, &:focus {
        background: transparent;
        color: $rouge;
    }
}

button, .btn, input[type=submit] {
    padding: 2% 5%;
    border: none;
    transition: box-shadow .5s;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 3px;

    &:hover, &:focus {
        box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
    }

    &:active {
        box-shadow: 0 0 0 0;
        transition: 0s;
    }
}

button {
    @include violet();
}

input[type=submit], .submit{
    @include vert();
}

.btn {
    @include bleu();
}