button, .btn, input[type=submit] {
    padding: 2% 5%;
    border: none;
    transition: box-shadow .5s;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 3px;

    &:hover, &:focus {
        box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
    }

    &:active {
        box-shadow: 0 0 0 0;
        transition: 0s;
    }
}

button {
    background-color: $violet;
    color: #fff;
    border-color: $violet;

    &:hover, &:focus {
        background: #fff;
        color: $violet;
    }
}

input[type=submit]{
    background: $vert;
    color: #fff;
    border-color: $vert;

    &:hover, &:focus {
        background: #fff;
        color: $vert;
    }
}