@mixin tuile_rep {
    background-repeat: no-repeat;
    background-position: right -11vh top -11vh;
    background-size: 30vh;
}

.rep0 {
    background-image: url('../src/resource/attent.svg');
    @include tuile_rep;
}

.rep2 {
    background-image: url('../src/resource/accept.svg');
    @include tuile_rep;
}

.rep1 {
    background-image: url('../src/resource/refu.svg');
    @include tuile_rep;
}