#emploie {
    main {
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;

        .liste {
            padding: 1%; 
            min-height: 70vh;

            li {
                display: grid;
                grid-template-columns: 50% 1fr max-content;
                grid-auto-rows: max-content repeat(3, auto);
                row-gap: 2vh;
                column-gap: 2vw;
                padding: 3vh 0;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);

                &:last-child {
                    border: none;
                }

                h2 {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 1;
                }

                .date {
                    grid-column: 3 / span 1;
                    grid-row: 1 / span 1;
                    justify-self: right;
                    align-self: start;
                }

                p {
                    grid-column: 1 / span 3;
                    grid-row: 2 / span 1;
                    letter-spacing: .1rem;
                    word-spacing: .1rem;
                    line-height: 1.6rem;
                    word-wrap: break-word;
                    text-overflow: ellipsis;
                    width: 100%;
                }

                .temp {
                    grid-column: 1 / span 1;
                    grid-row: 3 / span 1;
                    justify-self: left;
                    align-self: end;
                }

                .sup {
                    grid-column: 1 / span 1;
                    grid-row: 4 / span 1;
                    justify-self: center;
                    align-self: center;
                    @include rouge();
                }

                div {
                    position: relative;
                    grid-column: 2 / span 2;
                    grid-row: 4 / 1 span;
                    justify-self: center;
                    align-self: center;

                    p {
                        position: absolute;
                        right: -20px;
                        top: -17px;
                        background: $vert;
                        color: #fff;
                        padding: 1ch 2ch;
                        border-radius: 20px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        width: inherit;
                    }

                    .choix {
                        @include bleu();
                    }
                }
            }

            .error {
                display: inherit;
                text-align: center;
            }
        }

        #choix {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1;
            background: #00000080;

            div {
                display: grid;
                grid-auto-columns: rapeat(2, 1fr);
                grid-template-rows: auto 1fr;
                row-gap: 2vh;
                background: $violet;
                box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                padding: 1vh 1vw;
                max-height: 80vh;
                width: 50vw;

                h3 {
                    grid-column: 1 / span 1;
                    grid-row: 1/ span 1;
                    align-self: center;
                    color: #fff;
                }

                .annul {
                    grid-column: 2 / span 1;
                    grid-row: 1 / span 1;
                    justify-self: right;
                    align-self: start;
                    background: none;
                    border: none;
                    color: #fff;
                    text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.3);

                    &:hover {
                        box-shadow: 0 0 0 0 transparent;
                        color: #fff;
                    }
                }

                ul {
                    grid-column: 1 / span 2;
                    grid-row: 2 / span 1;
                    overflow-y: auto;

                    li {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-template-rows: max-content auto;
                        row-gap: 2vh;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 1vh 1vw;

                        &:last-child {
                            border: none;
                        }

                        &:hover .ident {
                            text-decoration: underline;
                        }

                        .ident {
                            grid-column: 1 / span 3;
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            grid-template-rows: max-content min-content;
                            row-gap: 1vh;
                            column-gap: .5vw;
                            text-decoration: none;
                            color: #fff;

                            img {
                                grid-column: 1 / span 2;
                                justify-self: center;
                                align-self: center;
                                height: 17vh;
                                box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
                                border-radius: 50%;
                            }
                            
                            .nom {
                                justify-self: right;
                                align-self: center;
                                font-weight: bold;
                            }

                            .prenom {
                                @extend .nom;

                                justify-self: left;
                            }
                        }

                        .non {
                            grid-column: 1 / span 1;
                            grid-row: 2 / span 1;
                            align-self: center;
                            justify-self: center;
                            min-width: 50%;
                            @include rouge();
                        }

                        .btn {
                            @extend .non;

                            grid-column: 2 / span 1;
                            @include bleu();
                        }

                        .oui {
                            @extend .non;

                            grid-column: 3 / span 1;
                            @include vert();
                        }
                    }

                    .error {
                        display: inherit;
                        text-align: center;
                        color: #fff;
                        font-size: 2rem;
                    }
                }
            }
        }

        #suprimer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: 1;
            background: #00000080;

            div {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                background: $bleu;
                height: 20vh;
                width: 50vw;
                box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
                border-radius: 10px;
                padding: 1vh 1vw;

                p {
                    grid-column: 1 / span 2;
                    grid-row: 1 / span 1;
                    justify-self: center;
                    align-self: center;
                    font-size: 2rem;
                    color: #fff;
                }

                .oui {
                    justify-self: center;
                    align-self: center;
                    @include vert();
                }

                .non {
                    @extend .oui;
                    @include rouge();
                }
            }
        }
    }
}