$heuteurcel: (100% - (3 * 7)) / 8;
$largeurcel: 97% / 2;

#form_pat {
    display: grid;
    grid-template-columns: repeat(2, $largeurcel);
    grid-template-rows: repeat(8, $heuteurcel);
    row-gap: 3%;
    column-gap: 3%;
    padding: 2%;

    input[name=entreprise], input[type=email], input[type=password], input[type=submit] {
        grid-column: span 2;
    }

    input[type=submit] {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 50%;
        justify-self: center;
    }
}

@media all and (max-width: 610px) {
    $hauteurmedia: (100% - (3 * 9)) / 10;

    #form_pat {
        grid-template-rows: repeat(10, $hauteurmedia);
        
        input, select {
            grid-column: span 2;
        }
    }
}