#form_mail {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 50vh;
    border: 1px solid black;

    #join {
        display: none;
    }

    input[name=sujet], textarea, label {
        width: 80%;
        height: 10%;
    }

    input[name=sujet], textarea {
        border: none;
        box-shadow: inset 4px 3px 8px 0 rgba(0,0,0,.2);
        border-radius: 3px;
    }

    textarea {
        height: 40%;
    }

    label {
        display: grid;
        grid-template-columns: minmax(1fr, max-content) min-content;
        grid-template-rows: min-content;
        grid-auto-columns: auto;
        grid-template-rows: 1fr;
        overflow-y: auto;
        min-height: 18vh;

        .listefichier {
            grid-column: 1 / span 1;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            li {
                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-end;
                height: 15vh;
                width: 15vw;
                border: 1px solid black;
                border-radius: 1rem;
                margin: 0 1vw;
                transition: .5s;

                span {
                    border-top: 1px solid black;
                    padding: 1vh 1vw;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        
        .add {
            grid-column: 2 / span 1;
            display: inline-flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-self: end;
            align-self: center;
            cursor: pointer;
        }
    }

    button[type=submit] {
        min-width: 120px;
        @include vert();
    }
}

@media all and (max-width: 640px) {
    #form_mail button[type="submit"] {
        width: inherit;
    }
}

@media all and (max-width: 450px) {
    /*#form_mail {
        background: red;
    }*/
}