#index {
    header {
        border: 1px solid black;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        height: 50vh;
    
        article {
            width: 50%;

            .expli {
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: min-content auto;
                height: 100%;

                h4 {
                    padding: 1%;
                    text-align: center;
                }

                p {
                    align-self: center;
                    padding: 20%;
                }
            }

            .inscription {
                @extend .expli;
            }
        }
    }

    main {
        margin: {
            top: 2vh;
            bottom: 2vh;
        }

        article {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
            min-height: 20vh;
            border: 1px solid black;
        }
    }
}