#index {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        min-height: 50vh;
        box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
        border-radius: 10px;
    
        article {
            width: 50%;

            &:nth-child(1) {
                border-right: 1px solid rgba(0,0,0,.30);
            }

            &:nth-child(2) {
                border-left: 1px solid rgba(0,0,0,.30);
            }

            .expli {
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: min-content auto 20%;
                height: 100%;
                overflow: hidden;
                padding: 2%;

                h2, h3 {
                    padding: 1%;
                    text-align: center;
                }

                p {
                    align-self: center;
                    justify-self: center;
                    align-self: center;
                    max-width: 80%;
                }

                button {
                    justify-self: center;
                    align-self: center;

                }
            }

            .inscription {
                @extend .expli;
                display: none;
                grid-template-rows: min-content auto;
            }
        }
    }

    main {
        margin: {
            top: 2vh;
            bottom: 2vh;
        }

        article {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            min-height: 20vh;
            box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
            border-radius: 10px;
            padding: 1vh 1vw;

            p {
                padding: 0 1vw;
            }
        }
    }

    @media all and (max-width: 610px) {
        header {
            min-height: 80vh;
        }
    }
    
    @media all and (max-width: 450px) {
        header {
            justify-content: inherit;
            align-items: inherit;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 1fr 1fr;
            row-gap: 2vh;
            box-shadow: inherit;
            margin: 0;
            width: 100%;

            article {
                border: none;
                height: 80vh;
                width: inherit;
                box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
                border-radius: 10px;

                &:nth-child(1), &:nth-child(2) {
                    border: none;
                }
            }
        }

        main {
            width: 100%;
            
            article {
                box-sizing: content-box;
            }
        }
    }
}