#viewmail {
    main {
        border-radius: 10px;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);

        section, article {
            padding: 1vh 1vw;
        }

        .info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;

            .retour {
                align-self: start;

                a {
                    display: block;
                    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
                }
            }

            .ident {
                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                
                    img {
                        height: 10vh;
                        border-radius: 50%;
                        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
                        margin-right: 10px;
                    }

                    span {
                        font-size: 2rem;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
                    }
                }
            }

            .date {
                align-self: start;
            }
        }

        .corp {
            display: grid;
            grid-template-rows: max-content 1fr;
            grid-template-columns: 100%;
            grid-auto-rows: auto;
            row-gap: 1vh;
            min-height: 50vh;

            .sujet h2 {
                font-size: 2rem;
                letter-spacing: .2rem;
                word-spacing: .2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 2ch;
            }

            .text p {
                letter-spacing: .1rem;
                word-spacing: .1rem;
                line-height: 1.6rem;
                word-wrap: break-word;
                text-overflow: ellipsis;
                width: 100%;
            }

            .piecejoin ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-auto-columns: 1fr;
                grid-auto-flow: column;
                column-gap: 3vw;
                overflow: auto;
                padding: 2vh 0;
                column-gap: 3vw;

                li a {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-end;
                    margin: 0 auto;
                    height: 15vh;
                    max-width: 300px;
                    border-radius: 1rem;
                    transition: .5s;
                    text-decoration: none;

                    &:hover {
                        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
                    }

                    span {
                        border-top: 1px solid rgba(0, 0, 0, 0.3);
                        padding: 1vh 1vw;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                        border-radius: 0 0 1rem 1rem;
                    }
                }
            }
        }

        .boutton {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center; 

            .repondre button {
                @include bleu();
            }

            .suprimer button {
                @include rouge();
            }

            button {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                padding: 1vh 1vw;

                i {
                    margin-right: 1vw; 
                }
            }
        }
    }

    @media all and (max-width: 560px) {
        main {
            .info {
                display: grid;
                grid-template-columns: min-content 1fr max-content;

                .ident a {
                    justify-self: center;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin: inherit;
                    }

                    .nom {
                        height: 2.5ch;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                    }
                }
            }
        }
    }

    @media all and (max-width: 450px) {
        main {
            width: inherit;

            .info {
                .ident {
                    display: none;
                }

                .date {
                    justify-self: right;
                }
            }
            .corp .piecejoin ul li a {
                min-width: 100px;
            }

            .boutton {
                justify-content: space-around;
            }
        }
    }
}
