#reception section {
    max-height: 80vh;
    border: 1px solid black;
    padding: 1%;

    h1 {
        text-align: left !important;
        margin-bottom: 3vh;
        text-transform: capitalize;
    }

    ul {
        display: flex;
        flex-flow: column nowrap;
        overflow: auto;
        height: 70vh;

        .error {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh;
        }

        li {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            padding: 1vh 1vw;
            border-bottom: 1px solid black;

            &:last-child {
                border: none;
            }

            &:hover .date_sup .poubelle {
                opacity: 1;
            }

            .ident {
                a {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    img {
                        height: 10vh;
                        margin-bottom: 1vh;
                        border-radius: 50%;
                        border: 1px solid black;
                    }
                }
            }

            .sujet {
                
                &:hover a {
                    text-decoration: underline;
                }
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2rem;
                    height: 100%;
                    text-decoration: none;

                    span {
                        font-size: inherit;
                    }
                }
            }

            .date_sup {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-items: center;

                .poubelle {
                    cursor: pointer;
                    opacity: 0;
                    transition: .5s;
                }
            }
        }

        .new .sujet {
            font-weight: bold;
        }
    }
}