$hauteur: 10vh;

nav {
    position: fixed;
    top: 2vh;
    width: 100%;
    z-index: 1;

    .main_nav {
        display: grid;
        grid-template-columns: auto auto min-content;
        grid-template-rows: 1fr;
        height: $hauteur;
        width: 96vw;
        padding: 0 1%;
        margin: 0 auto;
        border-radius: 15px;
        box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);
        background-color: $violet;

        img {
            min-height: 50%;
            max-height: 80%;
            align-self: center;
            justify-self: left;
        }

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;

            li {
                margin: 2%;

                a {
                    text-decoration: none;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    color: #fff;

                    i {
                        margin-bottom: 8%;
                    }

                    span {
                        width: fit-content;
                        white-space: nowrap;
                        font-size: 2rem;
                        text-align: center;
                        height: 0;
                        overflow: hidden;
                    }
                }
            }
        }

        button {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            background: transparent;
            border: none;
            align-self: center;
            justify-self: flex-end;
            color: #fff;
            box-shadow: none;
            font-weight: normal;

            span {
                font-size: 2rem;
                height: 0;
                overflow: hidden;
            }
        }
    }

    form {
        display: flex;
        flex-flow: column nowrap;
        background-color: #fff;
        width: 20vw;
        margin: .5vh 2vw;
        padding: 1%;
        float: right;
        box-shadow: 2px 4px 10px 0 rgba(0,0,0,.30);

        h3 {
            margin: 0 auto 5%;
        }

        input {
            margin: 1% 0;
        }

        input[type=submit] {
            margin: 5% auto 0;
        }
    }

    i, span {
        color: inherit;
    }
}

.navscroll {
    top: 0;
    transition: top .5s;

    .main_nav {
        margin: 0px;
        width: 100%;
        border-radius: 0;
        transition: border-radius .5s;
    }
}

body {
    padding: {
        top: $hauteur + 4vh;
    }
}

main, header {
    width: 96vw;
    margin: 0 auto;
}