#offreresultat {
    main {
        border: 1px solid black;
        min-height: 70vh;

        .optien {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid black;
            padding: 1%;
            height: 10vh;

            input {
                display: none;
            }

            label {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                padding: 1%;
                margin: 0 10vw;
                cursor: pointer;

                &:hover span{
                    height: 2.5rem;
                }

                span {
                    font-size: 2rem;
                    overflow: hidden;
                    height: 0;
                    transition: .5s;
                }
            }
        }

        .resultat {
            padding: 1%;

            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: max-content;
                grid-auto-rows: max-content;

                li {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: repeat(4, max-content);
                    row-gap: 1vh;
                    column-gap: 1vw;
                    padding: 2vh 0;
                    border-bottom: 1px solid black;

                    &:last-child {
                        border: none;
                    }

                    &:hover a {
                        text-decoration: underline;
                    }

                    a {
                        text-decoration: none;
                    }

                    h3 {
                        grid-column: 1 / span 1;
                        grid-row: 1 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    .date {
                        grid-column: 2 / span 1;
                        grid-row: 1 / span 1;
                        justify-self: right;
                        align-self: flex-start;
                        text-decoration: underline;
                    }

                    .entreprise {
                        grid-column: 1 / span 1;
                        grid-row: 2 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    .ville {
                        grid-column: 2 / span 1;
                        grid-row: 2 / span 1;
                        justify-self: center;
                        align-self: baseline;
                    }

                    .description {
                        grid-column: 1 / span 2;
                        grid-row: 3 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    .periode {
                        grid-column: 1/ span 1;
                        grid-row: 4 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    #noter {
                        grid-column: 2 / span 1;
                        grid-row: 4 / span 1;
                        justify-self: right;
                        height: 5rem;
                        width: 50%;

                        &[disabled] {
                            background: blue;
                        }
                    }


                    .btn {
                        @extend #noter;
                    }
                }

                .error {
                    height: 52vh;

                    span {
                        display: block;
                        grid-column: 1 / span 2;
                        grid-row: 1 / -1;
                        justify-self: center;
                        align-self: stretch;
                        font-size: 3rem;
                        line-height: 48vh;
                    }
                }
            }
        }
    }

    #noterform {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);

        div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content repeat(3, 1fr);
            row-gap: 2vh;
            height: 50vh;
            width: 50vw;
            border: 1px solid black;
            padding: 1%;
            background-color: white;

            #annuler {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
                justify-self: right;
                align-self: start;
            }

            h2 {
                grid-column: 1 / span 2;
                grid-row: 1 / span 1;
                justify-self: left;
                align-self: center;
            }

            label {
                grid-column: 1 / span 2;
                grid-row: 2 / span 1;
                justify-self: center;
                align-self: end;
            }

            textarea {
                grid-column: 1 / span 2;
                grid-row: 3 / span 1;
                justify-self: center;
                align-self: start;
            }

            #envoyer {
                grid-column: 1 / span 2;
                grid-row: 4 / span 1;
                justify-self: center;
                align-self: end;
            }
        }
    }
}