#offre {
    main {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-rows: max-content auto;
        box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        min-height: 70vh;

        .recherche select {
            display: block;
            height: 5vh;
            width: 90%;
            margin: 2vh auto;
            font-size: 2.5rem;
            border: none;
            background: #fefefe;
            box-shadow: inset 2px 4px 10px 0 rgba(0, 0, 0, 0.3);
            border-radius: 3px;
            color: $bleu;
        }

        .resultat {
            padding: 1%;

            h2 {
                margin-bottom: 3vh;
                text-transform: capitalize;
            }

            ul {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: max-content;
                grid-auto-rows: max-content;

                li {
                    display: grid;
                    grid-template-columns: minmax(200px, 1fr) 1fr;
                    grid-template-rows: repeat(4, max-content);
                    row-gap: 3vh;
                    column-gap: 1vw;
                    padding: 2vh 0;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3); 

                    &:last-child {
                        border: none;
                    }

                    &:hover a {
                        text-decoration: underline;
                    }

                    a {
                        text-decoration: none;
                    }

                    h3 {
                        grid-column: 1 / span 1;
                        grid-row: 1 / span 1;
                        justify-self: left;
                        align-self: baseline;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                    }

                    .date {
                        grid-column: 2 / span 1;
                        grid-row: 1 / span 1;
                        justify-self: right;
                        align-self: flex-start;
                    }

                    .entreprise {
                        grid-column: 1 / span 1;
                        grid-row: 2 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    .ville {
                        grid-column: 2 / span 1;
                        grid-row: 2 / span 1;
                        justify-self: center;
                        align-self: baseline;
                    }

                    .description {
                        grid-column: 1 / span 2;
                        grid-row: 3 / span 1;
                        justify-self: left;
                        align-self: baseline;
                        letter-spacing: .1rem;
                        word-spacing: .1rem;
                        line-height: 1.6rem;
                        word-wrap: break-word;
                        text-overflow: ellipsis;
                        width: 100%;
                    }

                    .periode {
                        grid-column: 1/ span 1;
                        grid-row: 4 / span 1;
                        justify-self: left;
                        align-self: baseline;
                    }

                    button {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: center;
                        align-items: center;
                        grid-column: 2 / span 1;
                        grid-row: 4 / span 1;
                        justify-self: right;
                        height: 5rem;
                        min-width: 167px;
                        @include vert();
                    }
                }

                .error {
                    height: 52vh;

                    span {
                        display: block;
                        grid-column: 1 / span 2;
                        grid-row: 1 / -1;
                        justify-self: center;
                        align-self: stretch;
                        font-size: 3rem;
                        line-height: 48vh;
                    }
                }
            }
        }
    }
}