#profil {

    main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, minmax(10vh, auto));
        grid-auto-rows: minmax(10vh, auto);
        grid-gap: 2vh;

        article {
            border: 1px solid black;
            padding: 1%;

            h3 {
                text-align: left !important;
                margin-bottom: 3vh;
                text-transform: capitalize;
            }
        }

        .identite {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: auto auto;
            grid-row-gap: 3vh;
            
            #verif {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
                justify-self: end;
                align-self: flex-start;
                position: relative;

                i {
                    transform: rotate(-12deg);
                    font-size: 5rem;
                }

                span {
                    position: absolute;
                    top: 3px;
                    left: 11px;
                    transform: rotate(-12deg);
                    font-size: 2.5rem;
                }
            }

            .photo {
                grid-column: 1 / span 2;
                grid-row: 1 / span 1;
                justify-self: center;
                position: relative;

                img {
                    border: 1px solid black;
                    border-radius: 50%;
                    box-shadow: 0px 0px 20px 4px black;
                    width: 227px;
                    height: 227px;
                    margin-top: 2vh;
                }

                .note {
                    position: absolute;
                    top: 29px;
                    right: -27px;
                    transform: rotate(48deg);
                    font-size: 2rem;

                    span {
                        font-size: inherit;
                    }
                }
            }

            .nom {
                grid-column: 1 / span 2;
                grid-row: 2 / span 1;
                margin: 0 auto;
                min-width: 20%;

                h1 {
                    text-align: center;
                    text-transform: capitalize;
                }
            }

            .signaler {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
                justify-self: start;
                align-self: flex-start;

                p {
                    text-align: center;
                    cursor: pointer;

                    span {
                        display: block;
                    }
                }
            }

            .modif {
                @extend .signaler;
            }
        }

        .commentaire {
            ul {
                max-height: 60vh;
                overflow: auto;

                li {
                    display: grid;
                    grid-template-columns: min-content auto 26%;
                    grid-template-rows: repeat(2, auto);
                    row-gap: 1vh;
                    min-height: 5vh;
                    margin: 1vh 0;
                    padding: 0 1vw 1vh;
                    border-bottom: 1px solid black;
    
                    &:last-child {
                        border: none;
                    }
    
                    img {
                        height: 10vh;
                        border-radius: 50%;
                        border: 1px solid black;
                        box-shadow: 0px 0px 6px 1px black;
                        margin: 6px 6px 0;
                        grid-column: 1 / span 1;
                        grid-row: 1 / span 1;
                    }
    
                    .nom {
                        grid-column: 2 / span 1;
                        grid-row: 1 / span 1;
                        align-self: center;
                        margin-left: 1%;
                        text-transform: capitalize;
                    }
    
                    .date {
                        grid-column: 3 / span 1;
                        grid-row: 1 / span 1;
                        justify-self: end;
                    }
    
                    .note {
                        grid-column: 2 / span 1;
                        grid-row: 1 / span 1;
                        align-self: flex-end;
                        margin-bottom: 2%;
                        white-space: nowrap;
                        font-size: 2rem;

                        i {
                            font-size: inherit;
                        }
                    }
    
                    .com {
                        grid-column: 1 / span 3;
                        grid-row: 2 / span 1;
                        min-height: 1vh;
                    }
                }

                .nocomment {
                    display: inherit;
                    text-align: center;
                    margin: inherit;
                    padding: inherit;
                    min-height: inherit;
                }
            }
        }

        .code {
            position: relative;
            text-align: center;

            ul {
                display: inline-grid;
                grid-template-columns: repeat(5, auto);
                grid-template-rows: auto;
                grid-auto-rows: auto;
                row-gap: 2vh;

                li {
                    justify-self: center;
                    margin: 0 3vw;

                    img, i {
                        height: 10vh;
                        width: 10vh;
                    }

                    div span, span {
                        display: block;
                        margin: 0.5vh 0; 
                        font-weight: bold;
                    }
                }

                .add {
                    cursor: pointer;

                    i {
                        font-size: 8rem;
                    }

                    span {
                        margin: auto;
                        font-size: 2rem;
                        font-weight: inherit;
                    }
                }
            }
        }

        .entreprise section {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 2vh 2vw;

            .nom_ent {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
                font-weight: bold;
                text-transform: capitalize;
            }

            .descript {
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
                max-height: 50vh;
                overflow: auto;
            }

            .ville_ent {
                grid-column: 2 / span 1;
                grid-row: 1 / span 1;
                justify-self: center;
                text-transform: capitalize;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .img {
                grid-column: 2 / span 1;
                grid-row: 2 / span 1;
                min-height: 10vh;
                background-image: url('../src/entreprise/default.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }


    #dernco {
        position: fixed;
        bottom: 0;
        left: 0;
        border: 1px solid black;
        padding: 1%;
    }

    #mail {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        position: fixed;
        bottom: 0px;
        right: 1.4vw;

        span:nth-child(1) {
            justify-self: end;
            padding: .5vw;
            border: 1px solid black;
            cursor: pointer;
        }
    }

    #formcode {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
    }
}