.sousnavmail, .sousnavoffre, .sousnavemploie {
    z-index: inherit;
    position: sticky;
    position: -webkit-sticky;
    top: 14vh;
    height: 10vh;
    width: 96vw;
    margin: 0 auto 2vh;
    border: 1px solid black;

    ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 50vw;
        margin: 0 auto;
        padding: 2vh 0;

        li a {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover span {
                height: 2.5rem;
            }

            span {
                font-size: 2rem;
                overflow: hidden;
                height: 0;
                transition: .5s;
            }
        }

        .focus {
            i, span {
                color: blue;
            }

            span {
                height: 2.5rem;
            }
        }
    }
}