p, span, li, a {
    font-size: 1.5rem;
}

h1 {
    font-size: 3rem;
    color: $bleu;
}

h2 {
    font-size: 3rem;
    color: $bleu;
}

h3 {
    font-size: 2rem;
    color: $bleu;
}

i {
    font-size: 3rem;
}

html {
    color: $noir;
    font-family: 'Asap', sans-serif;
}