p, span, li, a {
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-size: 3rem;
    color: $bleu;
}

i {
    font-size: 3rem;
}

html, textarea, a {
    color: $noir;
    font-family: 'Asap', sans-serif;
}