p, span, li, a {
    font-size: 1.5rem;
    color: #000;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

i {
    font-size: 3rem;
}

* {
    color: $black;
    font-family: 'Asap', sans-serif;
}

a:hover {
    color: $blue;
}